.cabecalho-title{
    background-color: #5300C8;
    width: 100%;
    height: 8vw;
    padding: 20px, 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 30%;
    height: 5vw;
}
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Define duas colunas iguais */
    gap: 70px; /* Espaçamento entre as colunas */
    padding: 20px;
    width: 1380px;
    height: 1235px;
}

.principal-container {
    display: contents; /* Permite que os filhos se tornem filhos diretos do grid container */
    width: 758px;
    height: 1115px;
    padding: 40px;
    gap: 40px;
}

.principal-produtos, .formulario {
    background-color: #f9f9f9; /* Apenas para visualização */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.principal-produtos h1{
    font-family: "Press Start 2P", system-ui;

}

.produtos-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os produtos */
}

.card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-container img {
    max-width: 100px; /* Ajuste conforme necessário */
    border-radius: 8px;
}

.card-container--info {
    display: flex;
    flex-direction: column;
}

.card-container--value {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.formulario h1{
    font-family: "Press Start 2P", system-ui;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 472px;
    height: 517px;
    padding: 40px;
    gap: 40px;
}

.btn-formulario-container {
    display: flex;
    justify-content: space-between;
}



.footer-container{
    background-color: #5300C8;
    width: 1440px;
    height: 232px;
    padding: 64px;
}
.footer-dev{
    font-family: "IBM Plex Mono", monospace;
}

