/* cabeçalho */

.cabecalho-title {
    background-color: #5300C8;
    width: 100%;
    height: 8vw;
    padding: 20px, 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 30%;
    height: 5vw;
}

/* principal */

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px;
    width: 100%;
    height: auto;
}

.principal-container {
    display: contents;
    width: 100%;
    height: auto;
    padding: 40px;
    overflow-y: scroll;
}

.principal-produtos,
.formulario {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

.principal-produtos h1 {
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    margin-block: 10px;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: 0px -10px 9.5px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
}

/* card */
.card {
    display: flex;
    flex-wrap: wrap;
    max-width: 196px;
    width: 100%;
    height: 258px;
    background-color: #5300C8;
    border-radius: 10px;
    border: black solid 2px;
}

.img-container{
    width: 100%;
    height: auto;
    border-radius: 3px solid black;
    gap: 0px;
    opacity: 0px;
}

.card img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.card-container--info {
    display: flex;
    display: inline-block;
    font-family: "IBM Plex Mono", monospace;
    font-size: 15px;
    font-weight: 400;
    color: #f9f9f9;
    gap: 10px;
    
}
.card-container--info p{
    text-align: center;
}
.card-container--value{
    width: 176px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-weight: 400;
    gap: 100px;
    margin-top: 10px;
}
.button-reset {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}
.delete-button img {
    /* background-color: #5300C8; */
    border: transparent;
    width: 3vh;
    /* height: 1.5vw; */
    cursor: pointer;
    /* position: absolute; */
}
/* formulario */
.formulario h1 {
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    margin-block: 10px;
}

form input {
    padding: 15px;
    border-radius: 40px;
    border: solid 2.9px #03318c;
    color: #03318c;
}

.form-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px -10px 9.5px rgba(0, 0, 0, 0.25);
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 40px;
    gap: 40px;
    border-radius: 20px;
}

::placeholder {
    color: #03318c;
    font-weight: 900;
    font-family: "IBM Plex Mono", monospace;
}

.btn-formulario-container {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    gap: 13px;
}

.btn-formulario-container {
    gap: 15px;
}

.button-submit{
    font-family: "IBM Plex Mono", monospace;
    background: #03318c;
    color: white;
    width: 100%;
    border-radius: 15px;
    font-size: 20px;
}
.button-clean{
    font-family: "IBM Plex Mono", monospace;
    width: 100%;
    height: auto;
    border-radius: 15px;
    font-size: 20px;
    background: white;
    
}

/* rodape */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px;
    background-color: #5300C8;
    box-shadow: 0px -10px 9.5px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 100%;
    height: 232px;
}

.footer-logo img {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.footer-dev {
    margin-top: 10px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 16px;
    height: 16px;
    color: #f9f9f9;
    width: 100%;
    height: auto;
}

.footer-dev span {
    display: block;
    margin-top: 5px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-size: 24px;
    color: #f9f9f9;
}
